.container {
  margin: 0 auto;
  font-family: Lato;

  .report {
    position: relative;
    background-color: #D6E1E5;
  }

  h1, h2, h3, h4, a, strong {
    color: #1f4484;
    font-weight: 700;
  }

  h1, h2, h3 {
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  h1 {
    font-size: 48px;
    line-height: 60px;
  }

  h3 {
    font-size: 24px;
    line-height: 30px;
    padding-top: 0.25em;
    border-top: 4px solid #80C342;
  }

  h3 span.chapter {
    position: absolute;
    left: -1.25em;
  }

  h4 {
    font-size: 18px;
    line-height: 24px;
  }

  h4 span.chapter {
    position: absolute;
    left: -2em;
  }

  h6 {
    font-size: 24px;
    line-height: 30px;
  }

  p, li {
    text-align: justify;
    font-size: 15px;
    line-height: 24px;
  }

  .footnote {
    border-top: 1px solid #666666;
    font-size: 12.75px;
    line-height: 24px;
  }

  .footnote sup::before {
    display: block;
    content: " ";
    margin-top: -150px;
    height: 150px;
    visibility: hidden;
    pointer-events: none;
  }

  li {
    list-style-image: url(./lp-green.png);
  }

  img {
    max-width: 100%;
  }

  .center-image {
    margin: auto;
    display: block;
  }

  .fig-caption {
    padding-top: 0.5em;
    border-top: 1px solid #81d742;
    color: #1f4484;
    text-align: center;
  }

  .fig-caption-above {
    padding-bottom: 0.5em;
    border-bottom: 1px solid #81d742;
    color: #1f4484;
    text-align: center;
  }

  .two-column {
    display: flex;

    & div {
        width: calc(50% - 20px);
    }

    & div:first-of-type {
        padding-right: 40px;
      }
  }

  .row-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}